@font-face {
  font-family: "Farabee";
  src: url("../fonts/Farabee Regular.ttf") format("truetype");
}
@font-face {
  font-family: "FarabeeStraight";
  src: url("../fonts/Farabee Straight Regular.ttf") format("truetype");
}
/*#FFD700;*/ /*#d7bc95;*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main section {
  margin-bottom: 40px;
}
main section:first-child {
  padding-top: 89px;
}
main section .banner-main img {
  width: 100%;
  height: 90vh;
}
@media (max-width: 768px) {
  main section .banner-main img {
    content: url(../images/atelie-upscale-vertical.png);
  }
}
main section .banner-main .float-box {
  animation: appear 1s ease-in forwards;
  position: absolute;
  top: 50%;
  background-color: rgba(42, 22, 22, 0.7803921569);
  width: 100%;
}
main section .banner-main .float-box p {
  text-align: center;
  font-size: 30px;
  font-family: "FarabeeStraight", sans-serif;
  padding: 0 20px;
}
main section .banner-main .float-box p a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}
main section .banner-main .float-box p a:hover {
  transition: color 0.2s ease-in;
  color: #F4A460;
}
main section .titles {
  margin: 0;
  padding: 15px 0;
  background-color: #2A1616;
  text-align: center;
  font-size: 30px;
  font-family: "FarabeeStraight", sans-serif;
}
main section .infoblock {
  background-color: #2A1616;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
main section .infoblock h1, main section .infoblock h2, main section .infoblock h3 {
  text-align: center;
  font-family: "FarabeeStraight", sans-serif;
}
main section .infoblock-text {
  flex: 1;
}
main section .infoblock-text p {
  font-family: "Farabee", sans-serif;
  margin-top: 5px;
  font-size: 17px;
}
main section .infoblock-text a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  font-size: 17px;
}
main section .infoblock-text a:hover {
  transition: all 0.3s ease;
  color: #F4A460;
}
main section .infoblock-img {
  flex: 0 0 300px;
  width: 100%;
}
main section .infoblock-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3px;
}
@media (max-width: 768px) {
  main section .infoblock {
    display: flex;
    flex-direction: column;
  }
}